@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");
.page3 {
  position: absolute;
  top: 2100px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(
    50% 200px,
    100% 0,
    100% 1000px,
    50% 1200px,
    0% 1000px,
    0 0
  );
  clip-path: polygon(
    50% 200px,
    100% 0,
    100% 1000px,
    50% 1200px,
    0% 1000px,
    0 0
  );
  height: 1200px;
  background-color: #ff9df0;
}

.imageDiv1 {
  filter: drop-shadow(8px 8px 4px #9992e0);
}

.image2 {
  position: absolute;
  top: 250px;
  right: 12.5%;
  width: 37%;
  height: 700px;
  -webkit-clip-path: polygon(
    100% 0%,
    75% 50%,
    100% 100%,
    25% 100%,
    0% 50%,
    25% 0%
  );
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.sideText2 {
  position: absolute;
  text-align: left;
  top: 250px;
  left: 12.5%;
  width: 25%;
  height: 690px;
  background-color: white;
  padding-top: 10px;
  padding-left: 15px;
  filter: drop-shadow(8px 8px 4px #9992e0);
}

.mediumImg {
  background-size: cover;
  -webkit-clip-path: polygon(
    10% 0,
    90% 0,
    100% 18.25%,
    100% 81.75%,
    90% 100%,
    10% 100%,
    0 81.75%,
    0 18.25%
  );
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 18.25%,
    100% 81.75%,
    90% 100%,
    10% 100%,
    0 81.75%,
    0 18.25%
  );
  width: 365px;
  height: 200px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.restInfo {
  margin-right: 15px;
}
